@model Vidly.ViewModels.MoviesCollectionViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @foreach(var element in Model.Movies)
    {
<h2>@element.Name</h2>
    }





<h2></h2>
@* every view has this property which gives access to the model which we passed to it in the controller *@

