@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Movies</h2>
<span class="btn btn-primary">
    @Html.ActionLink("Add Movie", "MovieDetails" + "/" + item.Id, "Movies")
</span>
@if (Model.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Genre</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "MovieDetails" + "/" + item.Id, "Movies")
            </td>
            <td>
                @item.GenreType.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "MovieDetails" + "/" + item.Id, "Movies")
            </td>
        </tr>
        }
    </table>
}
else
{

    <h3>No Customers to show!</h3>
}




<h2></h2>
@* every view has this property which gives access to the model which we passed to it in the controller *@

